<!-- <h1 mat-dialog-title>Hi {{dataNegocio.abrivatura}}</h1> -->
<h1 style="width: 300px; text-align: center;" mat-dialog-title>{{titulo}}</h1>
<div mat-dialog-content>
  <form class="example-container" [formGroup]="form" #f="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Numero de Partida</mat-label>
      <input matInput placeholder="N° Partida" formControlName="numeroPartida" minlength="4" maxlength="4" #message>
      <mat-hint align="start" ><mat-label style="color: forestgreen;">Max 4 dígitos</mat-label> </mat-hint>
      <mat-hint align="end"><mat-label style="color: forestgreen;">{{message.value.length}} / 4</mat-label></mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Razon Social</mat-label>
      <input matInput placeholder="Razon Social" formControlName="razonSocial">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Tipo de Doc.</mat-label>
      <mat-select [(value)]="tipoDoc" >
        <mat-option *ngFor="let item of tipoDocumentos" [value]="item.idTipoDocumento">{{item.denominacion}}</mat-option>
      </mat-select>
    </mat-form-field>  
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Número de Documento</mat-label>
      <input matInput placeholder="N° Documento RUC" formControlName="numeroDocumento" minlength="11" maxlength="11" #message1>
      <mat-hint align="start" ><mat-label style="color: forestgreen;">Max 11 dígitos</mat-label> </mat-hint>
      <mat-hint align="end"><mat-label style="color: forestgreen;">{{message1.value.length}} / 11</mat-label></mat-hint>        
    </mat-form-field>
    <br>

    <!-- <div *ngIf="tipoDoc">
      <div *ngIf="comprobarSiEsRucboolean; else esDNI">
        <mat-form-field appearance="fill">
          <mat-label>Número de RUC</mat-label>
          <input matInput placeholder="N° Documento DNI" formControlName="numeroDocumento" minlength="11" maxlength="11" #message3>
          <mat-hint align="start" ><mat-label style="color: forestgreen;">Max 11 dígitos</mat-label> </mat-hint>
          <mat-hint align="end"><mat-label style="color: forestgreen;">{{message3.value.length}} / 11</mat-label></mat-hint>
        </mat-form-field>
        <br>
      </div>
  
      <ng-template #esDNI>
        <mat-form-field appearance="fill">
          <mat-label>Número de DNI</mat-label>
          <input matInput placeholder="N° Documento RUC" formControlName="numeroDocumento" minlength="8" maxlength="8" #message4>
          <mat-hint align="start" ><mat-label style="color: forestgreen;">Max 8 dígitos</mat-label> </mat-hint>
          <mat-hint align="end"><mat-label style="color: forestgreen;">{{message4.value.length}} / 8</mat-label></mat-hint>        
        </mat-form-field>
        <br>
      </ng-template>
    </div> -->
    
    <mat-form-field appearance="fill">
      <mat-label>Dirección</mat-label>
      <input matInput placeholder="Dirección" formControlName="direccion">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Correo</mat-label>
      <input matInput placeholder="Correo" formControlName="correo">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Celular</mat-label>
      <input matInput placeholder="Celular" formControlName="telefoMovil" minlength="9" maxlength="9" #message2>
      <mat-hint align="start" ><mat-label style="color: forestgreen;">Max 9 dígitos</mat-label> </mat-hint>
      <mat-hint align="end"><mat-label style="color: forestgreen;">{{message2.value.length}} / 9</mat-label></mat-hint> 
    </mat-form-field>
  </form>
</div>
<div style="text-align: center;" mat-dialog-actions>
  <button mat-button color="primary" type="button" (click)="save()" [disabled]="f.invalid">Guardar</button>
  <button mat-button color="accent" (click)="cerrar()">Cancelar</button>
</div>