table {
  width: 100%;
}


/* td, th {
  width: 25%;
} */


.mat-column-idRepresentanteLegal {
  width: 32px;
  padding-right: 24px;
  text-align: center;
}

.mat-column-telefoMovil {
  width: 80px;
  padding-right: 24px;
  text-align: center;
}

.mat-column-accion {
  width: 80px;
  padding-right: 24px;
  text-align: center;
}